[Unit]
Description=Miniflux Feed Reader
After=network.target

[Service]
Type=simple
RuntimeDirectory=miniflux
EnvironmentFile=/etc/miniflux.conf
User=miniflux
ExecStart=/usr/bin/miniflux
Restart=always

[Install]
WantedBy=multi-user.target
